.map-viewer #pause, .map-viewer #play {
    position: absolute;
    display: none;
    opacity: 0.5;
    z-index: 32;
    width: 192px;
    height: 192px;
    left: 50%;
    top: 50%;
    margin: -96px;
}

.map-viewer #pause {
    background-image: url(/GOKZReplayViewer/images/pause.png);
}

.map-viewer #play {
    background-image: url(/GOKZReplayViewer/images/play.png);
}

.map-viewer .playback-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;

    background-color: rgba(15, 15, 15, 0.825);
}

.map-viewer .playback-bar .scrubber-container {
    position: absolute;
    left: 96px;
    right: 96px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.map-viewer .playback-bar .scrubber-container #scrubber {
    width: 100%;
    height: 36px;
}

.map-viewer .message {
    position: absolute;
    width: 512px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -32px;

    background-color: rgba(31, 31, 31, 0.25);
    color: white;
    font-family: sans-serif;
    text-align: center;
    line-height: 64px;
}
