.map-viewer .playback-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;

    background-color: rgba(15, 15, 15, 0.825);
}

.map-viewer .playback-bar .scrubber-container {
    position: absolute;
    left: 136px;
    right: 160px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.map-viewer .playback-bar .scrubber-container #scrubber {
    width: 100%;
    height: 36px;
}

.map-viewer .playback-bar #time {
    position: absolute;
    left: 40px;
    width: 96px;
    top: 0;
    bottom: 0;
    text-align: center;
}

.map-viewer .playback-bar .control {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    cursor: pointer;
}

.map-viewer .playback-bar #pause {
    display: none;
    left: 16px;
    background-image: url(/GOKZReplayViewer/images/pause.png);
}

.map-viewer .playback-bar #play {
    left: 16px;
    background-image: url(/GOKZReplayViewer/images/play.png);
}

.map-viewer .playback-bar #fullscreen {
    right: 16px;
    background-image: url(/GOKZReplayViewer/images/fullscreen.png);
}

.map-viewer .message {
    position: absolute;
    width: 512px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -32px;

    background-color: rgba(31, 31, 31, 0.25);
    color: white;
    font-family: sans-serif;
    text-align: center;
    line-height: 64px;
}
