.map-viewer {
    overflow: hidden;
}

.map-viewer .playback-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;

    background-color: rgba(15, 15, 15, 0.825);
    font-weight: 550;

    transition: bottom 0.1s ease-out;
}

.map-viewer .playback-bar.hidden {
    bottom: -40px;
    transition: bottom 0.2s ease-in;
}

.map-viewer .playback-bar .scrubber-container {
    position: absolute;
    left: 136px;
    right: 160px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.map-viewer .playback-bar .scrubber-container .scrubber {
    width: 100%;
    height: 36px;
}

.map-viewer .playback-bar .time {
    position: absolute;
    left: 40px;
    width: 96px;
    top: 0;
    bottom: 0;
    text-align: center;
    user-select: none;
}

.map-viewer .playback-bar .speed {
    position: absolute;
    right: 92px;
    width: 56px;
    top: 0;
    bottom: 0;
    text-align: center;
    user-select: none;
}

.map-viewer .playback-bar .speed:hover {
    cursor: pointer;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
}

.map-viewer .playback-bar .speed::before {
    content: "x";
}

.map-viewer .playback-bar .control {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
}

.map-viewer .playback-bar .control:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.25));
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.25));
}

.map-viewer .playback-bar .pause {
    display: none;
    left: 16px;
    background-image: url(../images/pause.png);
}

.map-viewer .playback-bar .play {
    left: 16px;
    background-image: url(../images/play.png);
}

.map-viewer .playback-bar .settings {
    right: 56px;
    background-image: url(../images/settings.png);
}

.map-viewer .playback-bar .fullscreen {
    right: 16px;
    background-image: url(../images/fullscreen.png);
}

.map-viewer .speed-control {
    display: none;
    position: absolute;
    bottom: 48px;
    right: 8px;
    width: 256px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(15, 15, 15, 0.825);
}

.map-viewer .speed-control .speed-slider {
    width: 100%;
}

.map-viewer .message {
    position: absolute;
    width: 512px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -32px;

    background-color: rgba(15, 15, 15, 0.825);
    color: white;
    font-family: sans-serif;
    text-align: center;
    line-height: 64px;
    user-select: none;
}

.map-viewer .key-display {
    position: absolute;
    width: 296px;
    height: 200px;
    left: 8px;
    bottom: 48px;
    background-color: rgba(0, 0, 0, 0.25);
}

.map-viewer .key-display .key {
    position: absolute;
    width: 64px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #666;
    font-weight: bold;
}

.map-viewer .key-display .pressed {
    background-color: rgba(0, 0, 0, 0.875);
    color: #fff;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.map-viewer .key-display .key-w {
    left: 152px;
    top: 8px;
}

.map-viewer .key-display .key-a {
    left: 80px;
    top: 72px;
}

.map-viewer .key-display .key-s {
    left: 152px;
    top: 72px;
}

.map-viewer .key-display .key-d {
    left: 224px;
    top: 72px;
}

.map-viewer .key-display .key-walk {
    left: 8px;
    top: 8px;
}

.map-viewer .key-display .key-duck {
    left: 8px;
    top: 72px;
}

.map-viewer .key-display .key-jump {
    left: 8px;
    width: 280px;
    bottom: 8px;
}